---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<div class="flex justify-center underline">
		<h1 class="text-green-500 text-3xl">
			Astro + Neon Full-Stack Starter Kit
		</h1>
	</div>
</MainLayout>
