---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Home">
	<div class="flex justify-center underline">
		<h1 class="text-green-500 text-3xl">
			Users
		</h1>
	</div>
</MainLayout>